:root {
  --light-mode-bg: rgb(240, 240, 240);
  --light-mode-text: rgb(18, 18, 18);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-mode-bg: rgb(18, 18, 18);
    --dark-mode-text: rgb(240, 240, 240);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html { color-scheme: dark } */

body {
  --scrollbar-width: 0px;
  min-height: 100vh;
  font-family: "Futura", Arial, Helvetica, system-ui, sans-serif;
  overflow-x: hidden;

  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);
}

.content {
  display: grid;
  grid-template: 0.75fr 3fr 0.25fr / repeat(3, 1fr);
  grid-gap: 10px;
  /* grid-template-rows: 1fr 2.5fr 0.5fr; */
  /* grid-template-columns: 0.5fr 3.5fr; */
  /* grid-template-columns: repeat(4, 1fr); */

  /* OPTION: Alternative setup - reactivate 'grid-areas' below & possibly refactor this to work within both the .container below and here in .content (split this code up) */
  /* Read up on grid-template-areas. What do the dots represent on each line below? */
  
  /* grid-template: 200px auto 100px / 1fr 3fr 1fr;
  grid-template-areas: 
    "heading heading heading"
    "sidebar main ."
    "footer . ."; */
}

.content > * {
  padding: 15px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.heading {
  min-width: 100vw;

  grid-column: 1;
  grid-row: 1 / 2;
  /* grid-area: heading; */

  padding: 40px 30px 40px;
  margin-bottom: 4px;
  /* box-shadow: -3px 10px 5px #c7c9cc; */

  /* TODO: This gives all items a drop shadow instead of the heading itself. It kinda looks better? - test out 0 0 1rem black or green or #c7c9cc */
  filter: drop-shadow(-3px 10px 5px #c7c9cc);  

  display: grid;
  grid-template-columns: 1fr 2.5fr 0.5fr;
}

.left-heading,
.center-heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.center-heading {
  margin-left: 5em;
}

.container {
  /* grid-column: auto; */
  grid-row: 2 / 3;
  /* grid-area: main; */

  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
}

/* TODO: Temporary styling for main. Revisit this at some point if it doesn't look right */
main {
  /* grid-column: 2 / 3; */

  background-color: #EEE;
  grid-column: 2 / span 2;
  grid-row: 1 / span 3; 
  gap: 15px;

  /* display: grid; */
  /* grid-template-columns: 2fr 1fr; */

  & button {
    margin: 2rem;
    padding: 1rem 2rem;
    width: 60%;
    height: 60%;
    border-radius: 100vw;
    transition: 0.3s;

    background-color: rgb(89, 109, 72);
    border: 1px solid rgb(89, 109, 72);
  }

  & button:hover,
    button:focus-visible {
    background-color: rgb(141, 165, 120);
    border: 1px solid rgb(141, 165, 120);
  }
}

footer {
  grid-row: 3;

  /* TODO: Absolute positioning puts the footer text in the top left of the page. Why? */
  /* position: sticky; */

  /* Might need to use "place-self" somewhere */
  /* position: absolute;
  justify-self: center; 
  align-self: end; */

  & .credits {
    display: flex;
    flex-direction: column;
  }

  & .credits:first-child {
    text-align: center;
  }
    
  /* grid-area: footer; */
}

label, input {
  display: block;
  padding: 0;
  margin: 10px 0;
  width: 80%;
  height: auto;
}